@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "LifeInDifferentCountries";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BTA | Life In Country</title>

    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/966e3b6ec4.js"></script>

    <link href="~/FrontEnd/BTA/Css/lifeCountryStyle.css" rel="stylesheet" />
    <link href="~/FrontEnd/BTA/Css/InfoCard.css" rel="stylesheet" />
    <link href="~/FrontEnd/BTA/Css/CommentCard.css" rel="stylesheet" />

    <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-mapevents.js"
            type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script src="https://kit.fontawesome.com/69c4fe908d.js"></script>
</head>
<body>
  <div class="komplet">
    <header>
      @Html.Partial("_NavBar")
      <div class="choosecity">
        <span>
          <p>Where to go ?</p>
          <input type="text" id="town" placeholder="Choose city" aria-autocomplete="list" onkeyup="citiesInDbAutocomlete();">
          <ul id="placesSearch" class="list-group"></ul>

        </span>
      </div>
    </header>

    <div class="category">
      <div class="middle">
        <button class="but" value="All">
          <i class="fa fa-folder" aria-hidden="true"></i>
          All
        </button>
        <button class="but" value="Food">
          <i class="fas fa-hamburger"></i>
          Food
        </button>
        <button class="but" value="Safety">
          <i class="fas fa-user-shield"></i>
          Safety
        </button>
        <button class="but" value="Local Culture">
          <i class="fas fa-university"></i>
          Local Culture
        </button>
        <button class="but" value="Local Transportation">
          <i class="fas fa-bus"></i>
          Local Transport
        </button>
        <button class="but" value="Sightseeing">
          <i class="fa fa-eye" aria-hidden="true"></i>
          Sightseeing
        </button>
        <button class="but" value="Other">
          <i class="fa fa-map-signs" aria-hidden="true"></i>
          Other
        </button>
      </div>
    </div>
    <div class="statment">
      <h1>Discover your city with</h1><br>
      <h1>Bussines Trip Advisor</h1>
      <p class="fewwords">
        Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      </p>
    </div>

    <!-- Index page - All cities listed -->

    <div id="ponuda"></div>

    <!-- END - Index page - All cities listed -->

    @Html.Partial("~/Views/Home/LifeInDifferentCountries/_InfoCard.cshtml")


    @Html.Partial("_Footer")
  </div>
  @Html.Partial("~/Views/Home/LifeInDifferentCountries/_Feedback.cshtml")

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/jqueryval")
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="~/Scripts/lifeInDifferentCountries/citiesList.js"></script>
  <script src="~/Scripts/lifeInDifferentCountries/carousel.js"></script>
  <script src="~/Scripts/lifeInDifferentCountries/mapApi.js" type="text/javascript" charset="UTF-8"></script>
  <script src="~/Scripts/lifeInDifferentCountries/infoCard.js"></script>
  <script src="~/Scripts/lifeInDifferentCountries/feedbackForm.js"></script>
  @if (User.IsInRole("Administrator"))
  {
    <script>
      // Add city button in navigation bar
      $("#navList").append('<li class="addBtn" onclick="details();"><i class="fas fa-plus-square" style="font-size: 1.5rem"><br><p class="ip">Add city</p></i></li>');
      $('#subject').removeAttr('readonly');
    </script>
  }
  <script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

    // When page is ready
    $(document).ready(function () {
      $("#details").hide(); // Hide infoCard (City details div)

      // Navigation bar items style on click
      $(".menu-icon").on("click", function () {
        $("nav ul li").toggleClass("showing");
      });

      loadCities(null, "All"); // Load list of all cities and feedbacks from database
    });

    // Navigation bar scrolling effect
    $(window).on("scroll", function () {
      if ($(window).scrollTop()) {
        $('nav').addClass('black');
      }
      else {
        $('nav').removeClass('black');
      }
    });

    // Data from database in global variables
    var citiesInDb; // all cities from database
    var feedbacksInDb; // all feedbacks from database

    // Parameters for loadCities function
    var cityFilter = null; // filter cities by city name, default: no filtering
    var category = 'All'; // filter feedbacks by chosen category, default: no filtering

    // Autocomplete function for choosing city from database, based on same part of text
    // While typing text, list of cities in database is refreshed
    function citiesInDbAutocomlete() {
      $('#placesSearch').empty();
      var typedCity = $('#town').val();

      // If some text is entered, city list is filtered and refreshed
      if (typedCity !== '') {
        var filteredCities = citiesInDb.filter(city => city.name.toUpperCase().indexOf(typedCity.toUpperCase()) !== -1);
        filteredCities.forEach(function (city) {
          $('#placesSearch').append(`<li class="liIzbor" onclick="filterCity('${city.name}')">${city.name}</li>`);
        });
      }
      // If no text is entered, show all cities from database in list
      else {
        cityFilter = null;
        $("#details").hide();
        loadCities(cityFilter, category);
        $("#ponuda").show();
      }
    }

    // Refresh list of cities based on city name chosen from autocomplete function
    function filterCity(cityName) {
      $('#placesSearch').empty();
      $('#town').val(cityName);
      cityFilter = cityName;

      $("#details").hide();
      loadCities(cityFilter, category);
      $("#ponuda").show();
    }

    // Filter feedbacks based on click on one of feedback category buttons
    $('.middle .but').click(function () {
      $('.middle .but').removeClass('button-clicked');
      $(this).addClass('button-clicked');

      category = $(this).attr('value');
      loadCities(cityFilter, category);

    });
  </script>
</body>
</html>
