@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "LifeInDifferentCountries";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BTA | Life In Country</title>

    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/966e3b6ec4.js"></script>

    <link href="~/FrontEnd/BTA/Css/lifeCountryStyle.css" rel="stylesheet" />
    <link href="~/FrontEnd/BTA/Css/InfoCard.css" rel="stylesheet" />
    <link href="~/FrontEnd/BTA/Css/CommentCard.css" rel="stylesheet" />

    <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-mapevents.js"
            type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script src="https://kit.fontawesome.com/69c4fe908d.js"></script>
</head>
<body>
    <div class="komplet">
        <header>
            @Html.Partial("_NavBar")
            <div class="choosecity">
                <span>
                    <p>Where to go ?</p>
                    <input type="text" id="town" placeholder="Choose city" aria-autocomplete="list" onkeydown="citiesInDbAutocomlete();">
                    <ul id="placesSearch" class="list-group"></ul>

                </span>
            </div>
        </header>

        <div class="category">
            <div class="middle">
                <button class="but" value="All">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    All
                </button>
                <button class="but" value="Food">
                    <i class="fas fa-hamburger"></i>
                    Food
                </button>
                <button class="but" value="Safety">
                    <i class="fas fa-user-shield"></i>
                    Safety
                </button>
                <button class="but" value="Local Culture">
                    <i class="fas fa-university"></i>
                    Local Culture
                </button>
                <button class="but" value="Local Transport">
                    <i class="fas fa-bus"></i>
                    Local Transport
                </button>
                <button class="but" value="Sightseeing">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Sightseeing
                </button>
                <button class="but" value="Other">
                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                    Other
                </button>
            </div>
        </div>
        <div class="statment">
            <h1>Discover your city with</h1><br>
            <h1>Bussines Trip Advisor</h1>
            <p class="fewwords">
                Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            </p>
        </div>

        <!-- Index page - All cities listed -->

        <div id="ponuda"></div>

        <!-- END - Index page - All cities listed -->

        @Html.Partial("~/Views/Home/LifeInDifferentCountries/_InfoCard.cshtml")


        @Html.Partial("_Footer")
    </div>
  @Html.Partial("~/Views/Home/LifeInDifferentCountries/_Feedback.cshtml")

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/jqueryval")
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="~/Scripts/lifeInDifferentCountries/carousel.js"></script>
  <script src="~/Scripts/lifeInDifferentCountries/mapApi.js" type="text/javascript" charset="UTF-8"></script>
  <script src="~/Scripts/lifeInDifferentCountries/infoCard.js"></script>
  <script src="~/Scripts/lifeInDifferentCountries/feedbackForm.js"></script>
  @if (User.IsInRole("Administrator"))
  {
    <script>
      // Add city button in navigation bar
      $("#navList").append('<li class="addBtn" onclick="details();"><i class="fas fa-plus-square" style="font-size: 1.5rem"><br><p class="ip">Add city</p></i></li>');
      $('#subject').removeAttr('readonly');
    </script>
  }
  <script type="text/javascript">

    //toogle button
    $(document).ready(function () {
      $("#details").hide();

      $(".menu-icon").on("click", function () {

        $("nav ul li").toggleClass("showing");
      });
        $("#spinner").hide();

        loadCities(null, "All");
    });

    //scrolling effect
    $(window).on("scroll", function () {
      if ($(window).scrollTop()) {
        $('nav').addClass('black');
      }
      else {
        $('nav').removeClass('black');
      }
    });

    $(".addBtn").click(function() {
    $('html,body').animate({
        scrollTop: $("#details").offset().top},
        'slow');
});

    // *************************************************************
    // *** Life in different countries - Index - show all cities ***
    // *************************************************************

      var citiesInDb;
      var feedbacksInDb;
      var cityFilter = null;
      var category = 'All';

      function loadCities(cityFilter, category) {
          $('#ponuda').empty();

          // Get all feedbacks from database
          $.ajax({
              url: '/api/cityLifeFeedbacks',
              method: 'GET',
              success: function (responseData) {
                  feedbacksInDb = responseData;

                  // Get all cities from database and fill cities list
                  $.ajax({
                      url: "/api/cities",
                      method: "GET",
                      success: function (responseData) {
                          citiesInDb = responseData;
                          if (responseData.length == 0)
                              $("#ponuda").append("<p>There are no cities in database.</p>");
                          else {
                              if (cityFilter !== null)
                                  responseData = responseData.filter(city => city.name === cityFilter);
                              responseData.forEach(function (city) {
                                  // Add new card for each city in database
                                  $("#ponuda").append(`
                                    <div id="card">
                                        <div class="row ">
                                            <div class="picbox">
                                                <div class="pic"></div>
                                            </div>
                                            <div class="descriptionBox">
                                                <div class="card-block px-3">
                                                    <h2 class="card-title">${city.name}</h2>
                                                    <p class="cardText">${city.description}</p>
                                                    <button class="btn btn-primary" onclick="details(${city.id})">Read More</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  `);

                                  var cityFeedbacks = feedbacksInDb.filter(
                                      feedback => feedback.city.id ===
                                          city.id &&
                                          (category === 'All' ?
                                            true :
                                            feedback.tag.name === category
                                          )
                                  );
                                  //console.log(cityFeedbacks);
                                  $('#ponuda').append(`<div id="feedbackWrapper${city.id}" class="card-f">`);

                                  cityFeedbacks.forEach(function (feedback) {
                                      //console.log(city.name + ': feedback id: ' + feedback.id);
                                      var time = new Date(feedback.time);
                                      $('#feedbackWrapper' + city.id).append(`
                                        <div class="card radius shadowDepth1">

                                            <div class="card__content card__padding">
                                                <div class="card__meta">
                                                    <a href="#">${feedback.tag.name}</a>
                                                    <time>${time.toLocaleDateString()}</time>
                                                </div>

                                                <article class="card__article">
                                                    <h5><a href="#">${feedback.title}</a></h5>

                                                    <p>${feedback.comment}</p>
                                                </article>
                                            </div>
                                            <hr>
                                            <div class="card__action">

                                                <div class="card__author">
                                                    <img src="http://lorempixel.com/40/40/sports/" alt="user">
                                                    <div class="card__author-content">

                                                        By: <a href="#">${feedback.user.firstName + ' ' + feedback.user.lastName}</a>
                                                        <p>Ocena : ${feedback.rating}</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    `);
                                  });

                                  $('#ponuda').append('</div><hr/>');
                              });
                          }
                      },
                      error: function () {
                          alert('Something wrong happend.');
                      }
                  });

              },
              error: function () {
                  alert('Something wrong happend.');
              }
          });

      }

      function citiesInDbAutocomlete() {
          $('#placesSearch').empty();
          var typedCity = $('#town').val();

          if (typedCity.length > 2) {
              var filteredCities = citiesInDb.filter(city => city.name.toUpperCase().indexOf(typedCity.toUpperCase()) !== -1);
              filteredCities.forEach(function (city) { 
                  $('#placesSearch').append(`<li class="liIzbor" onclick="filterCity('${city.name}')">${city.name}</li>`);
              });
          }
      }

      function filterCity(cityName) {
          $('#placesSearch').empty();
          $('#town').val(cityName);
          cityFilter = cityName;

          loadCities(cityFilter, category);
      }

      $('.middle .but').click(function () {
          $('.middle .but').removeClass('button-clicked');
          $(this).addClass('button-clicked');

          category = $(this).attr('value');
          loadCities(cityFilter, category);
      });
  </script>
</body>
</html>
